
/* _________________________________
 Our blog css code here 
 --------------------- */

 .blog-comp{
    position: relative;
    width: 100%;
    padding-block: 3rem;
    margin-block: 2rem;
    padding-inline: 1.87rem;
 }

 .left-blog-grid-det-bx{
    position: relative;
    width: 100%;
 }

 .blog-main-det-bx{
    position: relative;
    width: 100%;
 }

 .comn-heading{
    padding-inline: 0;
    margin-bottom: 1rem;
 }

 .blog-box{
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-bottom: 2rem;
 }

 .blog-img{
    position: relative;
    width: 24rem;
    height: 15rem;
 }

 .blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .blog-det-bx{
    position: relative;
 }

 .blog-det-bx p{
    margin-bottom: 0;
    color: #088178;
    font-size: 1.7rem;
    letter-spacing: .2px;
    font-weight: 400 ;
 }

 .blog-det-bx h5{
    font-size: 2.3rem;
    font-weight: 400;
    color: #303030;
    letter-spacing: .55px;
    max-width: 40rem;
 }

 .blog-date-view-flex-bx{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .date-view-bx{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.3rem;
 }

 .date-view-bx span{
    font-size: 1.3rem;
    font-weight: 500;
    color: #556563;
 }

 .blog-date-view-flex-bx a{
    font-size: 1.35rem !important;
    font-weight: 500 !important;
    letter-spacing: .4px !important;
    color: #088178 !important;
 }